<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.UserMapper">
    <select id="get" parameterType="Integer" resultType="com.User">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <insert id="add" parameterType="com.User"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, password)
         VALUES (#{name}, #{password})
    </insert>

    <update id="update" parameterType="com.User">
        UPDATE user SET name=#{name},
        password=#{password}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>
